<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@results &>

<form method="post" action="Create.html" id="CreateScrip" name="CreateScrip">
<input type="hidden" class="hidden" name="Queue" value="<% $Queue %>" />

<&| /Widgets/TitleBox, title => loc('Basics') &>
<table>

<& Elements/EditBasics, %ARGS, Scrip => $scrip &>

<tr><td class="label"><&|/l&>Stage</&>:</td><td class="value">\
<& /Admin/Elements/SelectStage, Default => $ARGS{"Stage"} &></td></tr>

<tr><td class="label">&nbsp;</td><td>
<input type="hidden" class="hidden" name="SetEnabled" value="1" />
<input type="checkbox" class="checkbox" name="Enabled" value="1" <% $ARGS{'Enabled'}? 'checked="checked"': '' |n%> />
<label for="Enabled"><&|/l&>Enabled (Unchecking this box disables this scrip)</&></label>
</td></tr>

</table>
</&>

<& /Elements/Submit,
    Label => loc('Create'),
    Name => 'Create',
&>

% if ($session{CurrentUser}->HasRight(Object => $RT::System, Right => 'ExecuteCode')) {
<& Elements/EditCustomCode, %ARGS, Scrip => $scrip &>
<& /Elements/Submit,
    Label => loc('Create'),
    Name => 'Create',
&>
% }

</form>
<%ARGS>
$Queue => 0
$Create => undef
</%ARGS>
<%INIT>
my @results;

$ARGS{'Enabled'} = 1 unless $ARGS{'SetEnabled'};

my $queue_obj;
if ( $Queue ) {
    $queue_obj = RT::Queue->new( $session{'CurrentUser'} );
    $queue_obj->Load( $Queue );
    Abort( loc("Couldn't load queue [_1]", $Queue) )
        unless $queue_obj->id;
}

my $title;
if ( $queue_obj ) {
    $title = loc('Create a scrip and add to queue [_1]', $queue_obj->Name );
} else {
    $title = loc('Create a global scrip');
}

my $scrip = RT::Scrip->new( $session{'CurrentUser'} );
if ( $Create ) {
    my ($status, $msg) = $scrip->Create(
        Description            => $ARGS{"Description"},

        Queue                  => $Queue || 0,
        Stage                  => $ARGS{"Stage"},

        ScripAction            => $ARGS{"ScripAction"},
        ScripCondition         => $ARGS{"ScripCondition"},
        Template               => $ARGS{"Template"},

        CustomPrepareCode      => $ARGS{"CustomPrepareCode"},
        CustomCommitCode       => $ARGS{"CustomCommitCode"},
        CustomIsApplicableCode => $ARGS{"CustomIsApplicableCode"},
    );

    MaybeRedirectForResults(
        Force     => 1,
        Actions   => [ $msg ],
        Path      => 'Admin/Scrips/Modify.html',
        Arguments => { id => $scrip->id },
    ) if $status;

    push @results, $msg;
}

</%INIT>